 #progress-bar {
     height: 20px;
     max-width: 500px;
     background-color: #4CAF50;
     transform-origin: left; /* Анимация растягивается слева направо */
     transform: scaleX(0); /* Начальное состояние — 0 ширины */
     transition: transform 2s linear; /* Минимальная длительность анимации — 2 секунды */
     border-radius: 5px;
     margin-bottom: 10px;
 }

 #timer {
     font-family: Arial, sans-serif;
     font-size: 18px;
 }